flows.back/.flows.json.backup
[{"id":"d7ffd2f2.dc4dd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5ea831a0.e4c67","type":"chatbot-slack-node","z":"","botname":"DigitalUnix","usernames":"HBCUnix-Chatbot","store":"2db3eb45.ee5724","log":"unixbot.txt","debug":false},{"id":"2db3eb45.ee5724","type":"chatbot-context-store","z":"","name":"context","contextStorage":"memory","contextParams":""},{"id":"9948756c.796a08","type":"github-credentials","z":"","name":"Slackbot-ed"},{"id":"cf6265f6.60b3b8","type":"debug","z":"d7ffd2f2.dc4dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":60,"wires":[]},{"id":"c81c459.807e4b8","type":"chatbot-slack-send","z":"d7ffd2f2.dc4dd","bot":"5ea831a0.e4c67","botProduction":"5ea831a0.e4c67","track":false,"outputs":0,"x":730,"y":380,"wires":[]},{"id":"fc951e78.5e265","type":"chatbot-image","z":"d7ffd2f2.dc4dd","name":"Hi ","filename":"","image":"./static/b1a7729e58411f1a37800231b34964fc_400x400.jpeg","caption":"I am unix bot","x":350,"y":220,"wires":[["c81c459.807e4b8"]]},{"id":"955012a8.a96bb","type":"chatbot-image","z":"d7ffd2f2.dc4dd","name":"Bye","filename":"","image":"./static/e49cd0_72ba5360ee8e4cd8b15a7f4d2544ace2_mv2.png","caption":"Goodby","x":330,"y":440,"wires":[["c81c459.807e4b8"]]},{"id":"7ae84dd0.fe06c4","type":"chatbot-listen","z":"d7ffd2f2.dc4dd","name":"decide","showdebug":false,"rules":["hii","list","users","bye","help","button",""],"outputs":7,"x":130,"y":340,"wires":[["fc951e78.5e265"],["65b14119.d846b"],["42dc9e3a.ce07c"],["955012a8.a96bb"],["fba6db53.00eb18"],["1d1da1f2.6c93ee"],["e2c7085c.14b128"]]},{"id":"73bd22e9.3173ec","type":"chatbot-slack-receive","z":"d7ffd2f2.dc4dd","bot":"5ea831a0.e4c67","botProduction":"5ea831a0.e4c67","x":100,"y":80,"wires":[["7ae84dd0.fe06c4"]]},{"id":"e2c7085c.14b128","type":"chatbot-image","z":"d7ffd2f2.dc4dd","name":"do not understand","filename":"","image":"./static/ShrugWubbox.png","caption":"I don't understand","x":370,"y":600,"wires":[["c81c459.807e4b8"]]},{"id":"fba6db53.00eb18","type":"chatbot-message","z":"d7ffd2f2.dc4dd","name":"help","message":[{"message":"Hi {{userId}} here are the commands I understand\nHi         cute hi image\nBy       goodby image\nbutton   displays a button but needs the feature turn on in \n              to work\nhelp     this message\n*        = shrug image"}],"answer":false,"track":false,"x":330,"y":480,"wires":[["c81c459.807e4b8"]]},{"id":"1d1da1f2.6c93ee","type":"chatbot-inline-buttons","z":"d7ffd2f2.dc4dd","name":"button test","buttons":[{"type":"postback","label":"yo","value":"yo","answer":"yo","alert":false,"style":"default"}],"message":"Don't push me","x":350,"y":560,"wires":[["c81c459.807e4b8"]]},{"id":"fdc2adc2.e4148","type":"comment","z":"d7ffd2f2.dc4dd","name":"Reminder","info":"https://api.slack.com/apps/AA2H49MD5/interactive-messages?\n\nreminder to enable interactive components","x":340,"y":520,"wires":[]},{"id":"67fac4ef.191a6c","type":"debug","z":"d7ffd2f2.dc4dd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":440,"wires":[]},{"id":"e90eba4f.924de8","type":"github-user","z":"d7ffd2f2.dc4dd","github":"9948756c.796a08","name":"","action":"show","outputs":"1","options":"","optionsType":"json","username":"user","usernameType":"msg","orgname":"","orgnameType":"str","x":520,"y":160,"wires":[[]]},{"id":"65b14119.d846b","type":"chatbot-slack-listchannels","z":"d7ffd2f2.dc4dd","listchannels":"listchannels","bot":"","botProduction":"5ea831a0.e4c67","track":false,"x":370,"y":300,"wires":[["c81c459.807e4b8"]]},{"id":"42dc9e3a.ce07c","type":"chatbot-slack-listusers","z":"d7ffd2f2.dc4dd","listusers":"listusers","bot":"","botProduction":"5ea831a0.e4c67","track":false,"x":370,"y":360,"wires":[["c81c459.807e4b8"]]}]