flows/.flows.json.backup
[{"id":"f5cfe35c.b9b71","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e1038d6.4053c8","type":"subflow","name":"List User or Channel","info":"","in":[{"x":60,"y":40,"wires":[{"id":"58e8afef.a6cf1"}]}],"out":[{"x":440,"y":300,"wires":[{"id":"4d22b31.52a8c4c","port":2}]}]},{"id":"7e33e386.3322ac","type":"subflow","name":"Slack Get User profile","info":"","in":[{"x":60,"y":40,"wires":[{"id":"84bab50.0011a48"}]}],"out":[]},{"id":"5ea831a0.e4c67","type":"chatbot-slack-node","z":"","botname":"DigitalUnix","usernames":"HBCUnix-Chatbot","store":"2db3eb45.ee5724","log":"unixbot.txt","debug":false},{"id":"2db3eb45.ee5724","type":"chatbot-context-store","z":"","name":"context","contextStorage":"memory","contextParams":""},{"id":"9948756c.796a08","type":"github-credentials","z":"","name":"Slackbot-ed"},{"id":"4a268c40.ad41c4","type":"chatbot-slack-send","z":"f5cfe35c.b9b71","bot":"5ea831a0.e4c67","botProduction":"5ea831a0.e4c67","track":false,"outputs":0,"x":890,"y":380,"wires":[]},{"id":"450abf21.e265","type":"chatbot-image","z":"f5cfe35c.b9b71","name":"Hi ","filename":"","image":"./static/b1a7729e58411f1a37800231b34964fc_400x400.jpeg","caption":"I am unix bot","x":490,"y":400,"wires":[["4a268c40.ad41c4"]]},{"id":"1d0047b9.82b9b8","type":"chatbot-image","z":"f5cfe35c.b9b71","name":"Bye","filename":"","image":"./static/e49cd0_72ba5360ee8e4cd8b15a7f4d2544ace2_mv2.png","caption":"Goodby","x":490,"y":440,"wires":[["4a268c40.ad41c4"]]},{"id":"4835d0e0.2d1dc","type":"chatbot-listen","z":"f5cfe35c.b9b71","name":"decide","showdebug":false,"rules":["get","hii","list","bye","help","button",""],"outputs":7,"x":130,"y":340,"wires":[["4751148.45cb6ec"],["450abf21.e265"],["c1f518aa.fd1bc8"],["1d0047b9.82b9b8"],["6eb937e.34794c8"],["db640101.f5681"],["aa203905.271a08"]],"outputLabels":["","","","","","","Default"]},{"id":"6598e8aa.38d098","type":"chatbot-slack-receive","z":"f5cfe35c.b9b71","bot":"5ea831a0.e4c67","botProduction":"5ea831a0.e4c67","x":100,"y":80,"wires":[["4835d0e0.2d1dc"]]},{"id":"aa203905.271a08","type":"chatbot-image","z":"f5cfe35c.b9b71","name":"do not understand","filename":"","image":"./static/ShrugWubbox.png","caption":"I don't understand","x":530,"y":620,"wires":[["4a268c40.ad41c4"]]},{"id":"6eb937e.34794c8","type":"chatbot-message","z":"f5cfe35c.b9b71","name":"help","message":[{"message":"Hi {{userId}} here are the commands I understand\nHi         cute hi image\nBy       goodby image\nbutton   displays a button but needs the feature turn on in \n              to work\nhelp     this message\n*        = shrug image"}],"answer":false,"track":false,"x":490,"y":480,"wires":[["4a268c40.ad41c4"]]},{"id":"db640101.f5681","type":"chatbot-inline-buttons","z":"f5cfe35c.b9b71","name":"button test","buttons":[{"type":"postback","label":"yo","value":"yo","answer":"yo","alert":false,"style":"default"}],"message":"Don't push me","x":510,"y":560,"wires":[["4a268c40.ad41c4"]]},{"id":"a3185d91.686e4","type":"comment","z":"f5cfe35c.b9b71","name":"Reminder","info":"https://api.slack.com/apps/AA2H49MD5/interactive-messages?\n\nreminder to enable interactive components","x":500,"y":520,"wires":[]},{"id":"d42c61f3.af454","type":"debug","z":"f5cfe35c.b9b71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":440,"wires":[]},{"id":"8ac96056.cc113","type":"github-user","z":"7e33e386.3322ac","github":"9948756c.796a08","name":"","action":"show","outputs":"1","options":"","optionsType":"json","username":"user","usernameType":"msg","orgname":"","orgnameType":"str","x":430,"y":320,"wires":[[]]},{"id":"f1f1cca5.714b5","type":"chatbot-slack-listchannels","z":"4e1038d6.4053c8","botProduction":"5ea831a0.e4c67","regex":"qa","track":false,"x":520,"y":160,"wires":[["1dd94064.25335"]]},{"id":"c3251d5e.2f711","type":"chatbot-slack-listusers","z":"4e1038d6.4053c8","botProduction":"5ea831a0.e4c67","track":false,"x":510,"y":220,"wires":[["1dd94064.25335"]]},{"id":"4d22b31.52a8c4c","type":"switch","z":"4e1038d6.4053c8","name":"Channel or user","property":"grok.action","propertyType":"msg","rules":[{"t":"regex","v":"chan.*","vt":"str","case":true},{"t":"regex","v":"use.+","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":160,"y":180,"wires":[["f1f1cca5.714b5"],["c3251d5e.2f711"],[]]},{"id":"58e8afef.a6cf1","type":"grok","z":"4e1038d6.4053c8","field":"content","regex":"list %{WORD:action}(?:|\\s+%{WORD:regex})","x":210,"y":40,"wires":[["4ea5e387.516a1c"]]},{"id":"4ea5e387.516a1c","type":"change","z":"4e1038d6.4053c8","name":"","rules":[{"t":"set","p":"regex","pt":"msg","to":"grok.regex","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[["4d22b31.52a8c4c"]]},{"id":"1dd94064.25335","type":"chatbot-slack-send","z":"4e1038d6.4053c8","bot":"5ea831a0.e4c67","botProduction":"5ea831a0.e4c67","track":false,"outputs":0,"x":770,"y":180,"wires":[]},{"id":"c1f518aa.fd1bc8","type":"subflow:4e1038d6.4053c8","z":"f5cfe35c.b9b71","name":"","x":540,"y":320,"wires":[["aa203905.271a08"]]},{"id":"84bab50.0011a48","type":"grok","z":"7e33e386.3322ac","field":"content","regex":"%{WORD:action}\\s+(?<userid>.*)","x":190,"y":40,"wires":[["bc4798d4.145d58"]]},{"id":"6917cb9c.54cb44","type":"chatbot-message","z":"7e33e386.3322ac","name":"","message":[{"message":""}],"answer":false,"track":false,"x":630,"y":140,"wires":[["f1770f5b.10928"]]},{"id":"f1770f5b.10928","type":"chatbot-slack-send","z":"7e33e386.3322ac","bot":"5ea831a0.e4c67","botProduction":"5ea831a0.e4c67","track":false,"outputs":0,"x":730,"y":220,"wires":[]},{"id":"4751148.45cb6ec","type":"subflow:7e33e386.3322ac","z":"f5cfe35c.b9b71","name":"","x":590,"y":200,"wires":[]},{"id":"bc4798d4.145d58","type":"chatbot-slack-getuser","z":"7e33e386.3322ac","botProduction":"5ea831a0.e4c67","field":"userid","x":240,"y":100,"wires":[["3cecf370.4d8f9c"]]},{"id":"3cecf370.4d8f9c","type":"switch","z":"7e33e386.3322ac","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":220,"wires":[["46bb727e.8963ec"],["3bde8d01.d48ed2"]]},{"id":"46bb727e.8963ec","type":"change","z":"7e33e386.3322ac","name":"Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"userinfo.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":140,"wires":[["6917cb9c.54cb44"]]},{"id":"3bde8d01.d48ed2","type":"change","z":"7e33e386.3322ac","name":"userinfo","rules":[{"t":"set","p":"payload","pt":"msg","to":"userinfo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["d6c9db00.a4cc48"]]},{"id":"d6c9db00.a4cc48","type":"json","z":"7e33e386.3322ac","name":"","property":"payload","action":"","pretty":true,"x":550,"y":220,"wires":[["6917cb9c.54cb44"]]}]